<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
<<<<<<< HEAD
=======
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
>>>>>>> 9b9fd301363ed686b009466bd9089a4a3fd8c2b7
</head>
<body>

<%= yield %>

</body>
</html>
